<!-- <body>
  <app-header></app-header>
  <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
    style="min-height: 100vh; background-size: cover; background-image: url(../../../assets/images/sign-log-pic.jpg);">
    <div class="container-fluid">
      <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
        <div class="col-12 col-md-4 col-lg-3   h-50 ">
          <div class="card shadow">
            <div class="card-body mx-auto">
              <h2 class="card-title mt-3 text-center">Sign in </h2>
              <p class="text-center">Sign In To Start Using Our Service</p>
              <form>
                <div class="form-group input-group">

                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                  </div>
                  <input type="text" class="input form-control" placeholder="Email" matInput [formControl]="email">

                </div>
                <div class="form-group input-group">

                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input type="password" class="input form-control" placeholder="Password" [formControl]="password">

                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" (click)="submit()"> Sign in </button>
                </div>
                <p class="text-center" style="cursor: pointer; margin-top: 20px;">Create Account
                  <a href="/security/register">Sign up</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</body> -->
<body>
  <app-header></app-header>
  <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
    style="min-height: 100vh; background-size: cover; background-image: url(../../../assets/Rp_Images/anton-lecock-Y56k8XqoVnU-unsplash.jpg);">
    <div class="container-fluid">
      <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
        <div class="col-12 col-md-4 col-lg-3   h-50 ">
          <div class="card shadow">
            <div class="card-body mx-auto">
              <h2 class="card-title mt-3 text-center">Sign in </h2>
              <p class="text-center">Sign In To Start Using Our Service</p>
              <form>
                <div class="form-group input-group">

                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope" style="width: 12px; "></i> </span>
                  </div>
                  <input type="text" class="input form-control" placeholder="Email" matInput [formControl]="email">

                </div>
                <div class="form-group input-group">

                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input type="password" class="input form-control" placeholder="Password" [formControl]="password">

                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" (click)="submit()"> Sign in </button>
                </div>
                <p class="text-center" style="cursor: pointer; margin-top: 20px;">Create Account
                  <a href="/security/register">Sign up</a>
                </p>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</body>