<app-header></app-header>
<section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="../../../assets/Rp_Images/{{country.selectrdCountry.countryImage}}" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                {{country.selectrdCountry.countryName}}
              </h2>
            </div>
            <p>
              {{country.selectrdCountry.countryDescrption}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>



