<!-- <body>
  <app-header></app-header>
  <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
    style="min-height: 100vh; background-size: cover; background-image: url(../../../assets/Rp_Images/hisham-zayadnh-cKdPnDMmpH8-unsplash.jpg);">
    <div class="container-fluid">
      <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
        <div class="col-12 col-md-4 col-lg-3   h-50 ">
          <div class="card shadow">
            <div class="card-body mx-auto">
              <h4 class="card-title mt-3 text-center">Create Account</h4>
              <p class="text-center">Get started with your free account</p>
              <form [formGroup]="registerForm">
                <div class="form-group input-group">
                  <mat-error *ngIf="registerForm.controls['firstname'].hasError('required')">
                    <p class="star">*</p>
                  </mat-error>
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                  </div>
                  <input type="text" class="input form-control " placeholder="First name" matInput
                    formControlName="firstname" >
                </div>
                <div class="form-group input-group">
                  <mat-error *ngIf="registerForm.controls['lastname'].hasError('required')" >
                    <p class="star">*</p>
                  </mat-error>
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                  </div>
                  <input type="text" class="input form-control" placeholder="Last name" matInput
                    formControlName="lastname">
                </div>
                <div class="form-group input-group">
                  <mat-error *ngIf="registerForm.controls['email'].hasError('required')" >
                    <p class="star">*</p>
                  </mat-error>
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                  </div>
                  <input  type="text" class="input form-control" placeholder="Email" matInput
                    formControlName="email">
                  <mat-error *ngIf="registerForm.controls['email'].hasError('email') && 
                  !registerForm.controls['email'].hasError('required')" class="col-lg-12">
                    <p style="text-align: center; color: red;"> Please enter a valid email address</p>
                  </mat-error>
                </div>
                
                <div class="form-group input-group">
                  <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                    <p class="star">*</p>
                  </mat-error>
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>

                  <input  type="password" class="input form-control" placeholder="Password" matInput
                    formControlName="password">
                  <mat-error class="col-lg-12"
                    *ngIf="registerForm.controls['password'].hasError('minlength') && !registerForm.controls['password'].hasError('required')">
                    <p style="text-align: center; color: red;"> Please enter a strong password</p>
                  </mat-error>
                </div>
                <div class="form-group input-group">
                  <mat-error *ngIf="registerForm.controls['confirmpassword'].hasError('required')">
                    <p class="star">*</p>
                  </mat-error>
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input  type="password" class="input form-control" (change)="onChange()"
                    placeholder="Confiem Password" matInput formControlName="confirmpassword">
                  <mat-error *ngIf="registerForm.controls['confirmpassword'].value !=
              registerForm.controls['password'].value" class="col-lg-12">
                    <p style="text-align: center; color: red;">Confirm password must equal password</p>
                  </mat-error>
                </div>
                <div class="form-group input-group">
                  <mat-error  *ngIf="registerForm.controls['phonenumber'].hasError('required')">
                    <p class="star">*</p>
                  </mat-error>
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                  </div>
                  <input  type="text" class="input form-control" placeholder="Phone Number" matInput
                    formControlName="phonenumber">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid " (click)="submit()"> Sign up </button>
                </div>
                <p class="text-center" style="cursor: pointer; margin-top: 20px;">Have an account?
                  <a href="/security/login">Log In</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  </body> -->


  <body>
    <app-header></app-header>
    <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
      style="min-height: 100vh; background-size: cover; background-image: url(../../../assets/Rp_Images/national-flag-of-jordan-over-city-of-jerash.jpg);">
      <div class="container-fluid">
        <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
          <div class="col-12 col-md-4 col-lg-3   h-50 ">
            <div class="card shadow">
              <div class="card-body mx-auto">
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                <p class="text-center">Get started with your free account</p>
                <form [formGroup]="registerForm">
                  <div class="form-group input-group">
                    <mat-error *ngIf="registerForm.controls['firstname'].hasError('required')">
                      <p class="star">*</p>
                    </mat-error>
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input type="text" class="input form-control " placeholder="First name" matInput
                    formControlName="firstname"  >
                      <!-- [formControl]="registerForm.controls.firstname" -->
                  </div>
                  <div class="form-group input-group">
                    <mat-error *ngIf="registerForm.controls['lastname'].hasError('required')" >
                      <p class="star">*</p>
                    </mat-error>
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input type="text" class="input form-control" placeholder="Last name" matInput
                      formControlName="lastname">
                  </div>
                  <div class="form-group input-group">
                    <mat-error *ngIf="registerForm.controls['email'].hasError('required')" >
                      <p class="star">*</p>
                    </mat-error>
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-envelope" style="width: 12px; "></i> </span>
                    </div>
                    <input  type="text" class="input form-control" placeholder="Email" matInput
                      formControlName="email">
                    <mat-error *ngIf="registerForm.controls['email'].hasError('email') && 
                    !registerForm.controls['email'].hasError('required')" class="col-lg-12">
                      <p style="text-align: center; color: red; font-size: 12px; padding: 2px; position: relative; left: 15px;"> Please enter a valid email address</p>
                    </mat-error>
                  </div>
                  
                  <div class="form-group input-group">
                    <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                      <p class="star">*</p>
                    </mat-error>
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
  
                    <input  type="password" class="input form-control" placeholder="Password" matInput
                      formControlName="password">
                    <mat-error class="col-lg-12"
                      *ngIf="registerForm.controls['password'].hasError('minlength') && !registerForm.controls['password'].hasError('required')">
                      <p style="text-align: center; color: red; font-size: 12px; padding: 2px; position: relative; left: 15px;"> Please enter a strong password</p>
                    </mat-error>
                  </div>


                  
                  <div class="form-group input-group">
                    <mat-error *ngIf="registerForm.controls['confirmpassword'].hasError('required')">
                      <p class="star">*</p>
                    </mat-error>
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input  type="password" class="input form-control" (change)="onChange()"
                      placeholder="Confiem Password" matInput formControlName="confirmpassword">

                    <mat-error *ngIf="registerForm.controls['confirmpassword'].value !=
                registerForm.controls['password'].value" class="col-lg-12">
                      <p style="text-align: center; color: red; font-size: 12px; padding: 2px; position: relative; left: 15px;">Confirm password must equal password</p>
                    </mat-error>
                  </div>
                  <div class="form-group input-group">
                    <mat-error  *ngIf="registerForm.controls['phonenumber'].hasError('required')">
                      <p class="star">*</p>
                    </mat-error>
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <input  type="text" class="input form-control" placeholder="Phone Number" matInput
                      formControlName="phonenumber">
                  </div>
                  <div class="form-group input-group">
                    <mat-error *ngIf="registerForm.controls['passport_Type'].hasError('required')">
                      <p class="star">*</p>
                    </mat-error>
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-square"></i> </span>
                    </div>
                    <input type="text" class="input form-control " placeholder="Passport Type" matInput
                      formControlName="passport_Type" >
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid " (click)="submit()"> Sign up </button>
                  </div>
                  <p class="text-center" style="cursor: pointer; margin-top: 20px;">Have an account?
                    <a href="/security/login">Log In</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
    </body>