<section class="country_section layout_padding">
    <div class="container">
        <a (click)="goToProfile()">
            <div class="row">
                <div class="imgesspace">

                    <!-- class="col-md-4" -->
                    <a class="box">
                        <img src="../../../assets/Rp_Images/{{countryImage}}" alt="">
                        <div class="detail-box">
                            <h3>
                                {{countryName}}
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </a>
    </div>
</section>
