<div id="carouselExampleCaptions" class="carousel slide testwidth" data-ride="carousel" style="background-color: #05133b;">
  <ol class="carousel-indicators">
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let item of testmonial.testimonialHomeData;let index = index;let isFirst = first"
      [ngClass]="{active:isFirst}">
      <div style="text-align: center;">
        <div style="text-align: center; padding-top: 10px; ">
          <img src="../../assets/Rp_Images/{{item.imagepath}}" style="height: 80px;width:80px;border-radius: 40px;">
        </div>
        <h1 style="text-align: center; color: rgb(255, 255, 255);padding-top: 10px;">{{ item.name}}</h1>
      
        <h3 style="text-align: center; color: rgb(255, 255, 255);">{{item.feedback}}</h3>
        <br>
        <br>
        <br>
  
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>