<div class="all">
  <body class="page-content">
   
    <div class="card">
      <div class="content">
        <h2 class="title">Over All Passport </h2>
        <p class="copy">{{passportoveralllLength}}</p>
      </div>
    </div>
    
    <div class="card">
      <div class="content">
        <h2 class="title">Number Of Users</h2>
        <p class="copy">{{authLength}}</p>
      </div>
    </div>
    
    <div class="card">
      <div class="content">
        <h2 class="title">Average Of Reviews</h2>
        <p class="copy">{{reviewAvarage}}</p>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Number Of Contacts</h2>
        <p class="copy"> {{contactLength}} </p>
      </div>
    </div>
    
  </body>
</div>