<div id="outer-container">
    <app-dashboard id="sidebar"></app-dashboard>
    <div id="content">
      <div class="container table-responsive py-5">
        <h1>Role</h1>
        <!-- <button type="button" class="btn btn-primary" (click)="openCreatedialog()">Create New</button> -->
        <div style="overflow-x:auto !important ;">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <th>ROLE NAME</th>
              <th>OPERATION</th>
            </thead>
            <tbody>
              <tr *ngFor="let obj of role.roleData">
                <td> {{obj.rolename}}</td>
                <td> <button type="button" class="btn btn-danger"
                    (click)="openDeletedialog(obj.role_Id)">Delete</button>
                  <button type="button" class="btn btn-info" style="margin: 10px;"
                    (click)="openUpdatedialog(obj.role_Id,obj.rolename)">Update</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <!-- <ng-template #callCreate>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="CreateForm" class="example-form">
        <ul>
            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Enter Role Name</mat-label>
                  <input type="text" matInput formControlName="rolename" [(ngModel)]="roles.rolename" 
                  placeholder="Admin">
                </mat-form-field>
              </li>
        </ul>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" (click)="save()" [disabled]="!CreateForm.valid"
        cdkFocusInitial>Save</button>
    </mat-dialog-actions>
  
  </ng-template>
  
   -->
  
  <ng-template #callUpdate>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="UpdateForm" class="example-form">
        <ul>
            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Enter Role Name</mat-label>
                  <input type="text" matInput formControlName="rolename" [(ngModel)]="roles.rolename" 
                  placeholder="Admin">
                </mat-form-field>
              </li>
        </ul>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button class="btn btn-primary" [mat-dialog-close]="true" (click)="update()" [disabled]="!UpdateForm.valid"
        cdkFocusInitial>Save</button>
    </mat-dialog-actions>
  
  </ng-template>
  
  
  
  
  <ng-template #callDelete>
    <h2>Are You Sure you want ti delete this item</h2>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close="no">No</button>
      <button mat-button mat-dialog-close="yes">yes</button>
    </mat-dialog-actions>
  </ng-template>