<div id="outer-container">
    <app-dashboard id="sidebar"></app-dashboard>
    <div id="content">
        <div class="container table-responsive py-5">
            <h1> Users </h1>
            <button type="button" class="btn btn-primary" (click)="openCreatedialog()">Create User</button>
            <div style="overflow-x:auto !important;">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">FIRST NAME</th>
                            <th scope="col">LAST NAME</th>
                            <th scope="col">PHONE NUMBER</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">IMAGE</th>
                            <th scope="col">REGISTRATION TIME </th>
                            <th scope="col">ROLE NAME </th>
                            <th scope="col">OPERATION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of auth.userData">
                            <td>{{obj.firstname}}</td>
                            <td>{{obj.lastname}}</td>
                            <td>{{obj.phonenumber}}</td>
                            <td>{{obj.email}}</td>
                            <td><img src="../../../assets/Rp_Images/{{obj.image}}"
                                    style="height: 100px;width: 100px; border-radius: 20px;"></td>
                            <td>{{obj.registrationtime|date:'YYYY-MM-dd'}}</td>
                            <td *ngIf="obj.role_Id == 1; else User">Admin</td>
                            <ng-template #User>
                                <td>User</td>
                            </ng-template>
                            <td>
                                <button type="button" class="btn btn-danger" style="margin: 10px;"
                                    (click)="openDeletedialog(obj.user_Id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<ng-template #callDelete>
    <h2>Are You Sure you want ti delete this item</h2>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-secondary" mat-dialog-close="no">No</button>
        <button mat-button class="btn btn-primary" mat-dialog-close="yes">yes</button>
    </mat-dialog-actions>
</ng-template>




<ng-template #callCreate >
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="CreateForm" class="example-form">
            <ul>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter the First Name </mat-label>
                        <input type="text" matInput formControlName="firstname" placeholder="First Name">
                        <mat-error *ngIf="CreateForm.controls['firstname'].hasError('required')">
                            first name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter the Last Name </mat-label>
                        <input type="text" matInput formControlName="lastname" placeholder="Last Name">
                        <mat-error *ngIf="CreateForm.controls['lastname'].hasError('required')">
                            last name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter the Email </mat-label>
                        <input type="email" matInput formControlName="email" placeholder="Ex: name@something.com">
                        <mat-error *ngIf="CreateForm.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="CreateForm.controls['email'].hasError('email') && 
              !CreateForm.controls['email'].hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter the Phone Number </mat-label>
                        <input type="text" matInput formControlName="phonenumber" placeholder="Phone Number">
                        <mat-error *ngIf="CreateForm.controls['phonenumber'].hasError('required')">
                            Phone Number is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Password</mat-label>
                        <input type="password" matInput formControlName="password" placeholder="Password">
                        <mat-error *ngIf="CreateForm.controls['password'].hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="CreateForm.controls['password'].hasError('minlength') && !CreateForm.controls['password'].hasError('required')">
                            Please enter a strong password
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Confirm Password</mat-label>
                        <input type="password" matInput formControlName="confirmpassword" (change)="onChange()"
                            placeholder="Confirm Password">
                        <mat-error *ngIf="CreateForm.controls['password'].hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="CreateForm.controls['confirmpassword'].value !=
                  CreateForm.controls['confirmpassword'].value">
                            Confirm password must equal password
                        </mat-error>
                    </mat-form-field>
                </li>
            </ul>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-secondary" mat-dialog-close>Cancel</button>
        <button mat-button class="btn btn-primary" [mat-dialog-close]="true" (click)="save()" [disabled]="!CreateForm.valid"
            cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</ng-template>